127.0.0.1           localhost localhost.localdomain localhost4 localhost4.localdomain4
::1                 localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ alternate_host_file_ip | default("127.0.0.1") }}         {{ inventory_hostname }} {{ alias_hostname | default(None) }} {{ inventory_hostname_short }}
